html{
  overflow-x: hidden;
}

.page-heading {
  margin: 0px 0px 15px 0px;
  font-family: 'Pacifico', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 100%;
  position: relative;
  z-index: 3;
}

.page-heading::before{
  display: inline-block;
  text-align: center;
  width: 60%;
  border-radius: 20px;
  background-color: #fff;
  /* background-image: url('../assets/pexels-karolina-grabowska-5717947.jpg'); */
  position: absolute;
  top: -50px;
  bottom: 0;
  left: 50%;
  margin-left: -30%;
  right: 0;
  content: '';
  z-index: -1;
}
.products-container .card-group{
  width: 100%;
}

.btn.btn-primary {
  background-color: #8dcde0;
  color: #1a1a1a;
  outline: none !important;
  border-color: #fff;
}
.btn.btn-primary:focus {
  background-color: #8dcde0;
}

.btn.btn-primary:active {
  background-color: #8dcde0;
}