html{
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}

ul li {
  list-style: none;
}

a, a:hover, a:active, a:visited{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.page-heading {
  margin: 0px 0px 15px 0px;
  font-family: 'Pacifico', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 100%;
  position: relative;
  z-index: 3;
}

.page-heading::before{
  display: inline-block;
  text-align: center;
  width: 60%;
  border-radius: 20px;
  background-color: #fff;
  /* background-image: url('../assets/pexels-karolina-grabowska-5717947.jpg'); */
  position: absolute;
  top: -50px;
  bottom: 0;
  left: 50%;
  margin-left: -30%;
  right: 0;
  content: '';
  z-index: -1;
}
.products-container .card-group{
  width: 100%;
}

/* form styles */
.form-container{
  background-color: #f8f8f8;
  border-radius: 20px;
  padding: 50px;
  box-shadow: 0px 0px 10px #c5c5c5;
}