html{
  overflow-x: hidden;
}

.cover-image{
  max-width: 90vw;
  min-height: 900px;
}
.homepage-container .card-img{
  object-fit: cover;
  border-radius: 0;
  box-shadow: 3px 3px 20px #000, -3px 0px 20px #000;
}