.navbar-links {
  display: block;
  width: 16.66vw;
  text-align: center;
}

/* remove the default dropdown styling */
.main-nav .dropdown button.btn {
  background: none;
  color: inherit;
  border: none;
  box-shadow: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.main-nav .dropdown button.btn::after {
  content: none;
}

.main-nav .dropdown button.btn:focus {
  background: none;
  color: inherit;
  border: none;
  outline: inherit;
}
.main-nav .dropdown button.btn:active {
  background: none;
  color: inherit;
  border: none;
  outline: inherit;
}
.main-nav .dropdown button.btn:hover {
  transform: none;
}


#brand-logo {
  width: 70px;
}

.logo {
  font-family: 'Pacifico', cursive;
}