.navbar-links {
  display: block;
  width: 16.66vw;
  text-align: center;
  font-family: "Lato", sans-serif;
}

/* position the dropdown menus */
.main-nav div:nth-child(1) .dropdown-menu {
  left: calc(-16.66vw * 0);
}
.main-nav div:nth-child(2) .dropdown-menu {
  left: calc(-16.66vw * 1);
}
.main-nav div:nth-child(3) .dropdown-menu {
  left: calc(-16.66vw * 2);
}
.main-nav div:nth-child(4) .dropdown-menu {
  left: calc(-16.66vw * 3);
}
.main-nav div:nth-child(5) .dropdown-menu {
  left: calc(-16.66vw * 4);
}
.main-nav div:nth-child(6) .dropdown-menu {
  left: calc(-16.66vw * 5);
}

.main-nav .navbar-links .dropdown-menu {
  position: absolute !important;
  display: block;
  visibility: hidden;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 300px;
  transition: all 0.3s;
  opacity: 0;
  line-height: 50px;
  border-top: none;
}

.main-nav .navbar-links.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: 35px;
}

.main-nav .navbar-links.dropdown {
  border-right: 1px solid #ddd;

  margin-top: 10px;
  margin-bottom: 10px;
}

/* removes the default dropdown button styling */
/* .brand-nav .dropdown a.btn {
 
  background: none;
  color: inherit;
  border: none;
  box-shadow: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
} */

.brand-nav .dropdown a::after {
  content: none;
}
/* 
.brand-nav .dropdown a.btn:focus {
  background: none;
  color: inherit;
  border: none;
  outline: inherit;
}
.brand-nav .dropdown a.btn:active {
  background: none;
  color: inherit;
  border: none;
  outline: inherit;
}
.brand-nav .dropdown a.btn:hover {
  transform: none;
} */

#brand-logo {
  width: 70px;
}

.logo {
  font-family: 'Dela Gothic One', cursive;
}

.cart-container {
  position: relative;
  font-size: 2rem;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
  width: fit-content;
  
  transition: all 0.2s;
}

.cart-container:hover {
  cursor: pointer;
  background-color: #1d1d1d;
  border-radius: 50%;
}

.cart-container:hover i {
  color: #fff;
}

.cart-dropdown {
  position: relative;
  background-color: #f3f3f3;
  width: 450px;
}

.cart-dropdown .custom-cart-dropdown-item {
  padding: 30px;
  margin: 5px;
}

.cart-dropdown .custom-cart-dropdown-item:hover {
  cursor: pointer;
  background-color:#cddbdb;
}

.cart-dropdown .custom-cart-dropdown-item input{
  width: 50px;
}
.counter-container {
  width: 20px;
  height: 20px;
  background-color: #860000;
  border-radius: 50%;
  top: 10%;
  bottom: 0;
  left: 70%;
  right: 0;
  position: absolute;
  font-size: 0.8125rem;
  font-family: "Lato", sans-serif;
  text-align: center;
  color: #fff;
}

.counter {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(1rem);
    opacity: 1;
  }
  100% {
    transform: translateY(0rem);
    opacity: 0;
  }
  0% {
    transform: translateY(1rem);
    opacity: 1;
  }
}
