.homepage-container .card-img-overlay {
  top: 50%;
}

.homepage-container .featured-container .card-img {
  object-fit: cover;
  box-shadow: 3px 3px 20px #757575, -3px 0px 20px #535353;
  transition: 0.5s;
  border-radius: 20px !important;
}

.homepage-container .featured-container .card:hover .card-img {
  filter: sepia(100%) saturate(300%) brightness(70%);
  cursor: pointer;
}

.homepage-container .featured-container .card {
  position: relative;
  text-align: center;
  border-radius: 20px !important;
  border: none;
}

.homepage-container .featured-container .card-img-overlay {
  position: absolute;
  opacity: 0;
  top: 70%;
  transition: 0.5s;
}

.homepage-container .featured-container .card:hover .card-img-overlay {
  opacity: 1;
  top: 50%;
  cursor: pointer;
}

.cover-image {
  height: 400px;
}

#main-carousel {
  position: relative;
  z-index: 0;
}
#main-carousel .carousel-inner {
  height: 100% !important;
  /* border-radius: 20px !important; */
}
#main-carousel .carousel-item,
#main-carousel .carousel-item img {
  height: 600px;
  object-fit: cover;
  position: relative;
  display: flex;
}

#main-carousel .carousel-indicators li {
  background-color: #242424;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

#main-carousel .main-carousel-caption {
  top: 30%;
  color: #ffffff !important;
  text-shadow: 2px 2px 3px rgb(3, 3, 3);
}

.featured-carousel {
  height: 500px !important;
}

.featured-carousel img {
  width: 100% !important;
  object-fit: cover;
}

/* product card */

.product-card {
  margin: 20px 10px 10px 10px;
  border-radius: 0;
  overflow: hidden;
  position: relative;
  height: 500px;
  transition: 0.5s;
}
.product-card-img {
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  transition: 0.5s;
}

.product-card .card-body,
.product-card .card-footer {
  background-color: #fff;
}
.product-card:hover {
  border-color: #8a2be2;
  cursor: pointer;
}

.product-card:hover .product-card-img {
  transform: scale(1.2);
  filter: opacity(0.5);
}

.product-card-icons {
  position: absolute;
  width: 20px;
  right: 20px;
}

.product-card-icons .fa:hover{
  color: #000;
}
.product-card-details {
  width: 100%;
  height: 100px;
  padding: 20px;
  position: absolute;
  background-color: #fff;
  bottom: 50px;
  text-align: left;
}

.product-card-details div:nth-child(1) {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  font-weight: 800 !important;
}

.product-card-details div:nth-child(2) {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.product-card-details div:nth-child(3) {
  position: absolute;
  right: 20px;
  bottom: 0px;
  color: #6d6d6d;
}

.product-card-buttons {
  /* position: absolute; */
  margin-top: 50%;
  opacity: 0;
  transition: all 0.3s;
}

.product-card-buttons .btn {
  border-radius: 0;
  margin: 0;
  background-color: #ffffff00;
  color: #000 !important;
}

.product-card-buttons .btn:focus{
  background-color:#24242400 !important;
}

.product-card:hover .product-card-buttons {
  opacity: 1;
}

.product-card-buttons .btn:hover {
  background-color: #242424 !important;
  color: #fff !important;
}

.carousel-img-tint {
  position: relative;
}
#main-carousel .carousel-item .carousel-img-tint::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(92, 92, 92, 0.45), rgba(212, 212, 212, 0.45));
}
#main-carousel .carousel-caption .btn.btn-outline-dark {
  background-color: #24242400;
  color: #000;
  text-shadow: 0px 0px 2px #fff;
  border: 2px solid #000;
  padding: 18px 50px 50px 50px;
  font-size: 1.5rem;
}
#main-carousel .carousel-caption .btn.btn-outline-dark:hover {
  background-color: #000;
  color: #f1f1f1;
  text-shadow: none;
}

.modal-product-img{
  height: 70vh;
}

.modal-product-img img{
  max-height: 100%;
  max-width: 100%;
}





.keen-slider {
  width: 100vw;
}

/* keen-slider styles */

[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 200px;
}

.number-slide1 {
  background: rgb(64, 175, 255);
  background: linear-gradient(128deg, rgba(64, 175, 255, 1) 0%, rgba(63, 97, 255, 1) 100%);
}

.number-slide2 {
  background: rgb(255, 75, 64);
  background: linear-gradient(128deg, rgba(255, 154, 63, 1) 0%, rgba(255, 75, 64, 1) 100%);
}

.number-slide3 {
  background: rgb(182, 255, 64);
  background: linear-gradient(128deg, rgba(182, 255, 64, 1) 0%, rgba(63, 255, 71, 1) 100%);
  background: linear-gradient(128deg, rgba(189, 255, 83, 1) 0%, rgba(43, 250, 82, 1) 100%);
}

.number-slide4 {
  background: rgb(64, 255, 242);
  background: linear-gradient(128deg, rgba(64, 255, 242, 1) 0%, rgba(63, 188, 255, 1) 100%);
}

.number-slide5 {
  background: rgb(255, 64, 156);
  background: linear-gradient(128deg, rgba(255, 64, 156, 1) 0%, rgba(255, 63, 63, 1) 100%);
}
.number-slide6 {
  background: rgb(64, 76, 255);
  background: linear-gradient(128deg, rgba(64, 76, 255, 1) 0%, rgba(174, 63, 255, 1) 100%);
}

.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #000;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}

/* end of keen-slider styles */
